.app {
    display: flex;
    height: 100%;
    &__l-side {
      height: 100%;
      flex-basis: 300px;
      flex-shrink: 0;
      background-color: rgb(48, 47, 43);
    }
  
    &__l-main {
      flex: auto;
      height: 1000px;
      overflow: auto;
    }
    &__l-container {
      max-width: 100%;
      margin: 20px;
    }
  }