.container {
    padding-top: 50px;
    padding-left: 30px;
    width: 100%;
    padding-bottom: 50px; 
    
  }
 
  nav a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
    margin-left: 10px;
    color:#ffffff;
    
    
  }
  nav a:visited, a:link {
    color: #334953;
  }
  nav a:hover {
    color: #ffffff;
    background-color: #cfd8dc;
  }
  nav a.active {
    color: #039be5;
  }

  